<!-- <form action="/url-to-process-form-on-server" method="GET" > 
  </form> -->

{% extends 'base.html' %}

{% block body %}




<!-- Centering! -->
<div class="position-absolute top-50 start-50 translate-middle">
  <div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
   

    
    <h2>Create Account</h2>
    <form action="/users" method="POST">
      <p>
        Email <input type="text" name="email">
      </p>
  
      <p>
        Password <input type="password" name="password">
      </p>
  
      <p>
        <input type="submit">
      </p>
    </form>    
  </div>
</div>

{% endblock %}










