<!-- <form action="/url-to-process-form-on-server" method="GET" > 
  </form> -->

{% extends 'base.html' %}

{% block body %}

<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Wordled</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">""</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>
  
</nav>


<!-- Centering! -->
<div class="position-absolute top-50 start-50 translate-middle">
  <div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
   

    
    <h2>Create Account</h2>
    <form action="/users" method="POST">
      <p>
        Email <input type="text" name="email">
      </p>
  
      <p>
        Password <input type="password" name="password">
      </p>
  
      <p>
        <input type="submit">
      </p>
    </form>    
  </div>
</div>

{% endblock %}










