<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wordled</title>

    <script src="script.js" type="module"></script>

    <link rel="stylesheet" href="css/style.css" />

<h1>Allow me to reintroduce myself</h1>

<h2>My name is Wordled</h2>

    <h3>You will use your keyboard to guess a secret letter word, you will have 6 guesses</h3>
    <h4>You must fill out every letter in the word as your guess, if you guess the correct letter in the 
        correct spot, that spot will return pink. If you guess the correct letter but in the wrong spot,
        that spot will return black. If you guess a letter not in the word, the spot will remain white.
    </h4>

   